/*-----------------------FONTS-----------------------*/
@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src: local("Cuprum Regular"), url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src: local("Cuprum Italic"), url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src: local("Cuprum Bold"), url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  src: local("Coprum Bold Italic"), url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("PT Sans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: local("PT Sans Bold"), url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

/*-----------------------VARIABLES-----------------------*/

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-darkblue: #32425c;
  --basic-red: #ee3643;
  --basic-grey: #a9a9a9;
  --basic-greylight: #c5c5c5;
  --basic-white-blue: #f1f5f7;

  --border-grey-card: #eaeaea;
  --border-grey-button: #e5e5e5;

  --button-green: #63a63e;

  --button-green-shadow: #367315;
  --button-dark-blue-shadow: #405069;

  --footer-address: #f3f7f9;
  --footer-yellow: #ffd180;

  --background-dark: #293449;
  --background-beige: #f9f5f0;
  --background-light-blue: #f2f6f8;
  --background-yellow: #ffbf47;
  --background-blue: #3bbce3;
  --background-pink: #dc91d8;
  --background-light-green: #8ed78f;
  --background-sand-color: #f7f3ec;
  --background-dark-social-link: #212a3a;
  --background-light-scale: #d7dcde;
  --background-green: #00ca74;
  --background-silver: #ababab;

  --background-modal-beige: #f4f4f4;
  --background-modal-grey: #f1f1f1;

  --hover-basic-grey: #3d546f;
  --hover-red: #ca2c37;
  --hover-green: #5fbb2d;
  --hover-dark-grey: #b5b5b5;

  --active-dark: #161d29;
  --active-red: #ba2732;
  --active-green: #518534;
  --active-nav: #1d2739;
}

/*-----------------------GLOBAL-----------------------*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-body {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  min-width: 960px;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.link-decoration {
  text-decoration: none;
}

.paragraph-reset {
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tape-new::before {
  content: "New";
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
  padding: 6px 0;
  color: var(--basic-white);
  background-color: var(--basic-red);
  transform: rotate(45deg);
  position: absolute;
  right: -27px;
  top: 9px;
  z-index: 1;
}

/*-----------------------HEADER-----------------------*/

/*---header---*/

.header-narrow-background {
  font-size: 18px;
  color: var(--basic-white);
  background-color: var(--background-dark);
}

.header-wide-background {
  padding: 46px 0 60px 0;
  background-color: var(--basic-white-blue);
}

/*---header-narrow-background---*/

.header-narrow-background .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-logo {
  width: 220px;
  padding: 12px 56px 12px 56px;
  background-color: var(--basic-red);
  display: flex;
  position: relative;
}

.header-logo:before {
  content: "";
  width: 220px;
  height: 5px;
  background-color: var(--active-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 42px;
  left: 0;
}

.header-logo-img {
  width: 108px;
  height: 18px;
  margin: auto;
}

.search-form {
  width: 270px;
  position: relative;
}

.search-input {
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: inherit;
  background-color: transparent;
  color: var(--basic-black);
  border: none;
  width: 100%;
  padding: 9px 0;
  padding-left: 43px;
}

.search-input::placeholder {
  color: var(--basic-white);
}

.search-svg {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.5;
}

.header-menu-list {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-menu-button {
  font-size: 18px;
  width: 150px;
  color: var(--basic-white);
  text-align: center;
  display: block;
  position: relative;
}

.menu-button-bookmarker {
  padding: 9px 24px 9px 43px;
}

.menu-button-cart {
  padding: 9px 26px 9px 49px;
}

.menu-button-active {
  padding: 9px 21px 9px 49px;
  background-color: var(--basic-red);
}

.menu-button-checkout {
  padding: 9px 16px 9px 19px;
  background-color: var(--button-green);
}

.menu-button-bookmarker::before {
  content: "";
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  left: 21px;
}

.menu-button-cart::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  position: absolute;
  top: 14px;
  left: 25px;
}

.search-input:hover + .search-svg,
.search-svg:hover,
.menu-button-bookmarker:hover::before,
.menu-button-cart:hover::before {
  opacity: 1;
}

.menu-button-checkout:hover {
  background-color: var(--hover-green);
}

.header-logo:active {
  background-color: var(--active-red);
}

.search-input:focus {
  background-color: var(--basic-white);
}

.search-input:focus + .search-svg path {
  fill: var(--basic-red);
}

.menu-button-bookmarker:active,
.menu-button-cart:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--active-dark);
}

.menu-button-bookmarker:active::before,
.menu-button-cart:active::before {
  opacity: 0.5;
}

.menu-button-checkout:active {
  color: rgba(255, 255, 255, 0.5);
}

/*---header-wide-background---*/

.header-wide-background .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.site-desc {
  font-family: inherit;
  font-weight: inherit;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  width: 197px;
  color: var(--basic-red);
}

.header-contacts {
  width: 270px;
  margin-left: 93px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header-phone-border {
  border: 3px solid var(--basic-white);
  text-align: center;
  padding: 5px 42px 5px 71px;
  margin-bottom: 3px;
  position: relative;
}

.header-phone {
  font-family: inherit;
  font-weight: 700;
  font-style: inherit;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.header-phone::before {
  content: "";
  width: 19px;
  height: 20px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 10px;
  left: 36px;
}

.header-address {
  font-size: 14px;
  text-align: center;
  color: var(--basic-darkblue);
}

.authorization-list {
  width: 281px;
  margin-left: 69px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.authorization-button {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: inline-block;
  vertical-align: top;
}

.sign-in-button {
  position: relative;
  padding: 12px 27px 12px 45px;
}

.login-svg {
  position: absolute;
  top: 13px;
  left: 20px;
}

.registration-button {
  padding: 12px 24px;
}

.visitor-info {
  width: 299px;
  margin-left: 51px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.visitor-authorized {
  width: 100%;
  position: relative;
  background-color: var(--basic-white);
  padding: 12px 56px;
  display: flex;
  flex-wrap: wrap;
}

.visitor-button-name {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-svg {
  position: absolute;
  top: 13px;
  left: 17px;
}

.logout-button {
  position: absolute;
  top: 14px;
  left: 263px;
  background-color: var(--basic-white);
  height: 17px;
}

.visitor-button-list {
  margin-top: 3px;
  width: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.visitor-button-item {
  position: relative;
}

.visitor-button-item:last-child::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--basic-darkblue);
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: -18px;
}

.visitor-page-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-darkblue);
}

.authorization-button:hover,
.visitor-page-button:hover {
  color: var(--basic-red);
}

.button-svg:hover .icon-svg path {
  fill: var(--hover-basic-grey);
}

.authorization-button:active,
.visitor-page-button:active,
.visitor-button-name:active {
  color: var(--basic-greylight);
}

.button-svg:active .icon-svg path {
  fill: var(--basic-greylight);
}

.header-nav {
  width: 940px;
  margin-top: 40px;
}

.header-nav-list {
  background-color: var(--basic-darkblue);
  box-shadow: inset 0px -5px 0px var(--background-dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-nav-link {
  font-size: 18px;
  color: var(--basic-white);
  padding: 17px 28px 20px 28px;
  display: inline-block;
  vertical-align: top;
}

.header-nav-link:hover {
  background-color: var(--background-dark);
}

.header-nav-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--active-nav);
}

/*------------------------MAIN----------------------------*/

/*-----------------------CATEGORIES-----------------------*/

.section-categories {
  padding-top: 59px;
  margin-bottom: 59px;
}

.section-categories .container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 123px);
  gap: 20px;
}

/*---category-block---*/

.materials-block {
  background-color: var(--background-yellow);
  padding: 20px 43px 22px 22px;
}

.instrument-block {
  background-color: var(--background-blue);
  padding: 20px 31px 22px 22px;
}

.facilities-block {
  background-color: var(--background-pink);
  padding: 20px 31px 22px 22px;
}

.discounts-block {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: var(--background-light-green);
  padding: 20px 45px 22px 22px;
}

.delivery-block {
  grid-column: 3/4;
  grid-row: 3/4;
  background-color: var(--background-yellow);
  padding: 20px 31px 22px 22px;
}

.category-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  position: relative;
  overflow: hidden;
}

.category-description {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  width: 135px;
  white-space: nowrap;
  overflow-x: hidden;
}

.category-icon {
  max-width: 80px;
  max-height: 75px;
  object-fit: contain;
}

.category-link {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;
  width: 135px;
  white-space: nowrap;
  overflow-x: hidden;
}

.category-link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.category-link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.category-icon {
  align-self: flex-end;
  margin: auto 0;
}

/*---category-slide---*/

.category-slider {
  grid-column: 1/3;
  grid-row: 2/4;
  width: 620px;
  position: relative;
}

.category-slider-1 {
  background-image: url("../img/layer-perforator.jpg");
  background-color: #5c421e;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-slider-2 {
  background-image: url("../img/layer-drill.jpg");
  background-color: #5c421e;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-slide {
  display: none;
}

.category-slide-active {
  display: block;
  padding: 23px 20px 27px 24px;
  overflow-x: hidden;
}

.category-slide-desc {
  margin-bottom: 113px;
}

.category-slide .button {
  width: 192px;
}

.category-slide-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin-bottom: 5px;
  white-space: nowrap;
  overflow-x: hidden;
}

.category-slide-text {
  font-size: 18px;
  color: var(--basic-white);
  white-space: nowrap;
  overflow-x: hidden;
}

.category-slider-controls {
  position: absolute;
  bottom: 35px;
  left: 295px;
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-slide-button {
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.category-slide-button-active {
  background-color: var(--basic-red);
}

.category-slide-button-left::before {
  content: "";
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  bottom: 70px;
  left: -270px;
}

.category-slide-button-right::before {
  content: "";
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  bottom: 70px;
  right: -275px;
}

/*------------------------BUTTON-RED-LINK----------------------*/

.button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  border: none;
  padding-top: 11px;
  padding-bottom: 9px;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:active {
  background-color: var(--active-red);
}

/*-------------------POPULAR PRODUCTS AND PRODUCERS-----------------*/

.popular-tape-description {
  background-color: var(--background-beige);
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 16px 26px 28px;
}

.popular-title {
  font-weight: inherit;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
  margin: 0;
  padding: 0;
}

.popular-tape-description .button {
  width: 192px;
}

/*---------------------------------PRODUCTS-----------------------------------*/

.section-products {
  margin-bottom: 52px;
}

.container-products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: 220px;
  min-height: 318px;
  border: 1px solid var(--border-grey-card);
  background-color: var(--basic-white);
  margin-right: 20px;
  margin-bottom: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.product-wrap {
  position: relative;
}

.container-products .product-card:nth-child(4n) {
  margin-right: 0;
}

.product-image {
  width: 220px;
  height: 165px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  object-fit: contain;
}

.pop-up-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 41px;
  top: 38px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 0 10px 3px var(--border-grey-card);
}

.product-card:hover .pop-up-buttons {
  opacity: 1;
}

.product-card:hover .product-image {
  opacity: 0;
}

.cart-button,
.bookmarker-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
  width: 135px;
}

.bookmarker-button {
  color: var(--basic-darkblue);
  background-color: transparent;
  border: 3px solid var(--button-green);
  border-radius: 2px;
  padding: 7px 0;
}

.cart-button {
  color: var(--basic-white);
  background-color: var(--button-green);
  border: none;
  box-shadow: 0 3px 0 var(--button-green-shadow);
  padding: 10px 40px 10px 53px;
  margin-bottom: 10px;
  position: relative;
}

.cart-button::before {
  content: "";
  height: 15px;
  width: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  position: absolute;
  top: 10px;
  left: 30px;
}

.cart-button:hover {
  background-color: var(--hover-green);
}

.cart-button:active {
  background-color: var(--active-green);
}

.bookmarker-button:hover {
  border: 3px solid var(--basic-darkblue);
}

.bookmarker-button:active {
  border: 3px solid var(--basic-darkblue);
  opacity: 0.3;
}

.product-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 119px;
  width: 220px;
  padding: 0 17px 0 18px;
  margin-top: 10px;
  margin-bottom: 21px;
}

.product-name-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
  display: inline-block;
  vertical-align: top;
  width: 185px;
  height: 41px;
  overflow: hidden;
}

.product-name-uppercase {
  text-transform: uppercase;
}

.price-old {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-grey);
  text-decoration: line-through;
  margin: 7px 0 13px 0;
}

.price-new {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 44px 10px 32px;
  margin-left: 12px;
}

/*-----------------------CATALOG START-----------------------*/

.section-catalog .container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 21px;
}

.catalog-title {
  flex-basis: 100%;
  font-weight: inherit;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
  background-color: var(--basic-white-blue);
  margin: 0;
  padding: 0;
  padding: 29px 29px 30px 29px;
  margin-bottom: 19px;
}

/*------------BREADCRUMBS---------------*/

.breadcrumbs-list {
  order: -1;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 20px;
}

.breadcrumbs-item {
  line-height: 18px;
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item::after {
  content: "";
  width: 8px;
  height: 14px;
  background-image: url("../img/icon-arrow-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 2px;
  right: -25px;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-link {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

/*----------------FILTER---------------*/

.aside-filter {
  width: 220px;
}

.filter-text {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  background-color: var(--background-sand-color);
  text-transform: uppercase;
  padding: 10px 18px;
  border-radius: 2px;
  margin-bottom: 14px;
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.price-fieldset,
.producers-fieldset {
  border-bottom: 1px solid rgba(197, 197, 197, 0.5);
}

.price-fieldset {
  margin-bottom: 16px;
  padding-bottom: 25px;
}

.producers-fieldset {
  margin-bottom: 18px;
  padding-bottom: 27px;
}

.power-fieldset {
  margin-bottom: 39px;
}

.filter-legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: inherit;
  text-transform: uppercase;
}

.filter-legend-price {
  margin-bottom: 11px;
}

.filter-legend-producers {
  margin-bottom: 18px;
}

.filter-legend-powers {
  margin-bottom: 24px;
}

.filter-range {
  width: 220px;
}

.range-controls {
  height: 41px;
  background-color: var(--background-sand-color);
  border-radius: 2px;
  margin-bottom: 9px;
  padding: 39px 20px;
  position: relative;
}

.scale {
  height: 2px;
  background-color: var(--background-light-scale);
}

.bar {
  height: 2px;
  background-color: var(--background-green);
  width: 85%;
}

.toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 2px;
  background-color: var(--background-silver);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 220px;
  position: relative;
}

.price-input {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: inherit;
  font-style: inherit;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: var(--background-sand-color);
  border: none;
  padding: 10px;
  border-radius: 2px;
  width: 95px;
}

.price-controls::after {
  content: "";
  width: 10px;
  height: 1px;
  background-color: var(--basic-black);
  position: absolute;
  top: 19px;
  left: 105px;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-input {
  -moz-appearance: textfield;
}

.price-input:hover,
.price-input:focus {
  -moz-appearance: number-input;
}

.price-input::placeholder {
  color: var(--basic-black);
}

.filter-item:not(:last-of-type) {
  margin-bottom: 20px;
}

.filter-item {
  padding-left: 35px;
}

.filter-label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.producer-label::before {
  content: "";
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  position: absolute;
  top: -2px;
  left: -35px;
}

.producer-label:hover::before {
  border: 2px solid var(--hover-dark-grey);
}

.producer-checkbox:checked + .producer-label::after {
  content: "";
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: -2px;
  left: -35px;
}

.power-label::before {
  content: "";
  width: 25px;
  height: 25px;
  border: 4px solid var(--basic-greylight);
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: -35px;
}

.power-label:hover::before {
  border: 4px solid var(--hover-dark-grey);
}

.power-radio-button:checked + .power-label::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--basic-greylight);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: -27px;
}

.power-radio-button:checked + .power-label:hover::after {
  background-color: var(--hover-dark-grey);
}

.producer-checkbox:focus + .producer-label::before,
.power-radio-button:focus + .power-label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.producer-checkbox:focus + .producer-label::after {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-submit {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--border-grey-button);
  padding: 9px 79px;
}

/*--------------GOOODS-CATALOG------------------*/

.section-products-catalog {
  margin-left: 20px;
  width: 700px;
}

.sorting-row {
  background-color: var(--background-sand-color);
  margin-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  border-radius: 2px;
}

.sorting {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 140px;
  margin-left: 19px;
}

.sorting-list {
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 355px;
}

.sorting-link {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dotted var(--basic-red);
  color: rgba(0, 0, 0, 0.3);
}

.sorting-link:hover,
.sorting-link:focus,
.sorting-link:active {
  border-bottom: 1px solid var(--basic-red);
  color: var(--basic-black);
}

.sorting-link-active,
.sorting-link-active:hover,
.sorting-link-active:focus,
.sorting-link-active:active {
  color: var(--basic-red);
  border-bottom: none;
}

.sorting-list-arrows {
  line-height: 18px;
  width: 43px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 46px;
}

.sorting-arrow:hover .arrow-down-svg path,
.sorting-arrow:active .arrow-down-svg path,
.sorting-arrow:focus .arrow-down-svg path {
  fill: var(--basic-black);
}

.container-products-catalog {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.container-products-catalog .product-card:nth-child(3n) {
  margin-right: 0;
}

.pagination {
  display: flex;
  margin-bottom: 59px;
  flex-wrap: wrap;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-link {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  color: inherit;
  border: 1px solid var(--border-grey-button);
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  padding: 10px 15px;
}

.pagination-switch .pagination-link {
  text-transform: uppercase;
  padding: 10px 30px;
}

.pagination-link:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination-link:active {
  border: 1px solid var(--basic-red);
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}

/*-------------BENEFITS---------------*/

.section-benefits {
  background-color: var(--basic-white-blue);
  padding: 64px 0 68px 0;
}

.benefits-title {
  margin: 0;
  margin-bottom: 25px;
}

.benefits-text {
  font-family: "PT Sans", Arial, sans-serif;
}

/*-----------------------CATALOG FINISH--------------------------*/

/*-----------------------POPULAR PRODUCERS-----------------------*/

.section-producers {
  margin-bottom: 70px;
}

.producer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 310px;
}

.producer-item {
  width: 220px;
  height: 145px;
  border: 1px solid var(--border-grey-card);
  margin-right: 20px;
  margin-bottom: 20px;
}

.producer-item:nth-child(4n) {
  margin-right: 0;
}

.producer-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.producer-img {
  max-width: 220px;
  max-height: 145px;
  object-fit: contain;
}

.producer-item:hover {
  box-shadow: 0 0 10px 3px var(--border-grey-card);
}

.producer-item:active {
  opacity: 0.5;
}

/*----------------------TITLES------------------------------*/

.service-title,
.company-technomart-title,
.contacts-title,
.benefits-title {
  font-weight: inherit;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/*-----------------------SERVICES-----------------------*/

.section-services {
  background-color: var(--basic-white-blue);
  padding-top: 64px;
  padding-bottom: 100px;
}

.service-title {
  margin: 0;
  margin-bottom: 25px;
}

.service-desc-text {
  margin-bottom: 70px;
}

.service-text {
  font-family: "PT Sans", Arial, sans-serif;
}

.service-delivery-text {
  width: 290px;
  overflow: hidden;
}

.service-guarantee-text {
  width: 331px;
  overflow: hidden;
}

.service-credit-text {
  width: 309px;
  overflow: hidden;
}

.service-slider {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.service-slider-controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 185px;
  width: 240px;
  margin-right: 80px;
  position: relative;
}

.service-slider-controls::after {
  content: "";
  width: 10px;
  height: 279px;
  background-image: url("../img/line-shadow.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: -45px;
}

.service-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  text-align: start;
  background-color: var(--basic-darkblue);
  border: none;
  box-shadow: 0px 1px 0px var(--background-dark), inset 0px 1px 0px var(--button-dark-blue-shadow);
  height: 61px;
  width: 240px;
  padding-left: 22px;
}

.service-button:hover,
.service-button:focus,
.service-button:active {
  background-color: var(--background-dark);
}

.service-button-current,
.service-button-current:hover,
.service-button-current:active,
.service-button-current:focus {
  background-color: var(--basic-white);
  color: var(--basic-darkblue);
  box-shadow: none;
}

.service-slides {
  width: 620px;
}

.service-slide {
  position: relative;
  display: none;
}

.service-slide-active {
  display: block;
}

.service-subtitle {
  font-weight: inherit;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-darkblue);
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.service-delivery-subtitle {
  margin-bottom: 30px;
}

.service-guarantee-subtitle {
  margin-bottom: 24px;
}

.service-credit-subtitle {
  margin-bottom: 34px;
}

.service-credit-text {
  margin-bottom: 26px;
}

.service-slide:first-of-type::after {
  content: "";
  width: 468px;
  height: 261px;
  background-image: url("../img/truck.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 22px;
  right: 0;
}

.service-slide:nth-child(2)::after {
  content: "";
  width: 389px;
  height: 283px;
  background-image: url("../img/emblem.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 2px;
  right: 0;
}

.service-slide:nth-child(3)::after {
  content: "";
  width: 465px;
  height: 285px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 0;
  right: 0;
}

.service-slide .button {
  width: 195px;
}

/*-----------------------CONTACTS-----------------------*/

.section-contacts {
  padding-top: 70px;
  margin-bottom: 70px;
}

.section-contacts .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column-company {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 460px;
}

.column-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 302px;
}

.company-technomart-title,
.contacts-title {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.company-text,
.contacts-text {
  font-family: "PT Sans", Arial, sans-serif;
}

.company-text:first-of-type {
  margin-bottom: 22px;
}

.company-list {
  margin-bottom: 20px;
}

.company-item {
  font-size: 18px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 37px;
}

.company-item:nth-of-type(3) {
  margin-bottom: 0;
}

.company-item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  position: absolute;
  left: 0;
  top: 10px;
}

.contacts-text {
  margin-bottom: 35px;
}

.map-img {
  width: 300px;
  height: 158px;
  object-fit: contain;
}

.column-company .button {
  width: 220px;
}

.column-contacts .button {
  margin-top: 16px;
}

/*-----------------------FOOTER-----------------------*/

.footer-wide-background {
  background-color: var(--basic-darkblue);
  font-size: 18px;
  padding-bottom: 53px;
}

.footer-wide-background .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo-img {
  width: 220px;
  height: 68px;
  object-fit: contain;
}

.footer-logo-contacts {
  width: 324px;
}

.footer-contacts {
  color: var(--footer-address);
  margin-top: 17px;
  padding-left: 2px;
}

.footer-navigation {
  width: 546px;
  margin-top: 37px;
}

.footer-nav-list:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 34px;
}

.footer-nav-list:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-nav-item {
  margin-left: 58px;
}

.footer-nav-item:first-child {
  margin-left: 0;
}

.footer-nav-link-top {
  color: var(--basic-white-blue);
}

.footer-nav-link-bottom {
  color: var(--footer-yellow);
}

.footer-nav-link-top:hover,
.footer-nav-link-bottom:hover {
  text-decoration: underline;
}

.footer-nav-link-top:active,
.footer-nav-link-bottom:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-narrow-background {
  background-color: var(--background-dark);
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-narrow-background .container {
  display: flex;
  flex-wrap: wrap;
  padding: 35px 10px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 134px;
  margin-left: 161px;
}

.footer-site-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 286px;
  margin-left: 118px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--background-dark-social-link);
  color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footer-site-link {
  color: var(--footer-yellow);
}

.footer-social-link:hover,
.footer-social-link:active {
  background-color: var(--basic-red);
}

.footer-site-link:hover {
  text-decoration: underline;
}

.footer-site-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

/*-----------------------MODAL-----------------------*/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  margin: auto;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 11px;
  height: 21px;
  width: 21px;
  background-image: url("../img/icon-close.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
}

.order-form,
.modal-narrow-background {
  background-color: var(--background-modal-beige);
}

/*---------modal-message---------*/

.modal-message {
  top: 120px;
  bottom: auto;
  width: 620px;
  display: none;
}

.modal-width-background {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 39px 80px 37px 80px;
}

.block-input-name,
.block-input-email {
  width: 220px;
}

.modal-label {
  font-size: 18px;
  display: block;
  margin-bottom: 11px;
}

.block-input-letter {
  margin-top: 13px;
  margin-bottom: 0;
  width: 460px;
}

.modal-input,
.modal-textarea-message {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  padding: 5px 12px;
}

.modal-input {
  width: 220px;
}

.modal-textarea-message {
  resize: none;
  width: 460px;
}

.modal-narrow-background {
  padding: 37px 80px;
}

.modal-narrow-background .button {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.modal-input::placeholder {
  color: var(--basic-grey);
}

.modal-textarea-message::placeholder {
  color: var(--basic-grey);
}

/*---------------modal-map-----------------*/

.modal-map {
  width: 940px;
  height: 449px;
  display: none;
}

.modal-map iframe {
  border: none;
}

/*---------------modal-basket--------------*/

.modal-basket {
  top: 120px;
  bottom: auto;
  width: 620px;
  display: none;
}

.text-product-added {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  padding: 66px 99px 67px 99px;
}

.text-product-added::before {
  content: "";
  height: 66px;
  width: 66px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 48px;
  left: 81px;
}

.order-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 37px 118px 37px 114px;
}

.modal-basket-button {
  width: 192px;
}

.modal-continue-button {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  background-color: var(--basic-white);
  border: none;
  padding-top: 11px;
  padding-bottom: 9px;
}
