/*-----------------------FONTS-----------------------*/

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src: local("Cuprum Regular"), url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src: local("Cuprum Italic"), url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src: local("Cuprum Bold"), url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  src: local("Coprum Bold Italic"), url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("PT Sans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: local("PT Sans Bold"), url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

/*-----------------------VARIABLES-----------------------*/

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-darkblue: #32425c;
  --basic-red: #ee3643;
  --basic-grey: #a9a9a9;
  --basic-greylight: #c5c5c5;
  --basic-white-blue: #f1f5f7;

  --border-grey-card: #eaeaea;
  --border-grey-button: #e5e5e5;

  --button-green: #63a63e;

  --button-green-shadow: #367315;
  --button-dark-blue-shadow: #405069;

  --footer-address: #f3f7f9;
  --footer-yellow: #ffd180;

  --background-dark: #293449;
  --background-beige: #f9f5f0;
  --background-light-blue: #f2f6f8;
  --background-materials-delivery: #ffbf47;
  --background-instrument: #3bbce3;
  --background-facilities: #dc91d8;
  --background-discounts: #8ed78f;
  --background-filter: #f7f3ec;
  --background-social-link: #212a3a;
  --background-scale: #d7dcde;
  --background-bar: #00ca74;
  --background-toogle: #ababab;

  --background-modal-beige: #f4f4f4;
  --background-modal-grey: #f1f1f1;

  --hover-basic-grey: #3d546f;
  --hover-red: #ca2c37;
  --hover-green: #5fbb2d;
  --hover-dark-grey: #b5b5b5;

  --active-dark: #161d29;
  --active-red: #ba2732;
  --active-green: #518534;
  --active-nav: #1d2739;
}

/*-----------------------GLOBAL-----------------------*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-----------------------HEADER-----------------------*/

/*---header---*/

.header-narrow-background {
  background-color: var(--background-dark);
  font-size: 18px;
  color: var(--basic-white);
}

.header-wide-background {
  background-color: var(--basic-white-blue);
  padding: 46px 0 60px 0;
}

/*---header-narrow-background---*/

.header-narrow-background .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-logo {
  background-color: var(--basic-red);
  width: 220px;
  padding: 12px 56px 12px 56px;
  display: flex;
  position: relative;
}

.header-logo:before {
  content: "";
  height: 5px;
  width: 220px;
  background-color: var(--active-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 42px;
  left: 0;
}

.header-logo .logo-technomart-img {
  margin: auto;
  width: 108px;
  height: 18px;
}

.search-form {
  width: 270px;
  position: relative;
}

.search {
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: inherit;
  background-color: transparent;
  color: var(--basic-black);
  border: none;
  padding: 9px 0;
  width: 100%;
  padding-left: 43px;
}

.search::-webkit-input-placeholder {
  color: var(--basic-white);
}

.search::-moz-placeholder {
  color: var(--basic-white);
}

.search::-ms-input-placeholder {
  color: var(--basic-white);
}

.search::placeholder {
  color: var(--basic-white);
}

.svg-search {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.5;
}

.menu-list {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu-button {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 18px;
  line-height: inherit;
  color: var(--basic-white);
  width: 150px;
  text-align: center;
  display: block;
  position: relative;
}

.menu-button-bookmarker {
  padding: 9px 24px 9px 43px;
}

.menu-button-cart {
  padding: 9px 26px 9px 49px;
}

.menu-button-checkout {
  background-color: var(--button-green);
  padding: 9px 16px 9px 19px;
}

.menu-button-bookmarker::before {
  content: "";
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  left: 21px;
}

.menu-button-cart::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  left: 25px;
}

.menu-button-active {
  background-color: var(--basic-red);
  padding: 9px 21px 9px 49px;
}

.search:hover + .svg-search,
.menu-button-bookmarker:hover::before,
.menu-button-cart:hover::before {
  opacity: 1;
}

.menu-button-checkout:hover {
  background-color: var(--hover-green);
}

.header-logo:active {
  background-color: var(--active-red);
}

.search:focus {
  background-color: var(--basic-white);
  outline: none;
}

.search:focus + .svg-search path {
  fill: var(--basic-red);
}

.menu-button-bookmarker:active,
.menu-button-cart:active {
  background-color: var(--active-dark);
  color: rgba(255, 255, 255, 0.5);
}

.menu-button-bookmarker:active::before,
.menu-button-cart:active::before {
  opacity: 0.5;
}

.menu-button-checkout:active {
  color: rgba(255, 255, 255, 0.5);
}

/*---header-wide-background---*/

.header-wide-background .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.site-desc {
  font-family: inherit;
  font-weight: inherit;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  width: 197px;
}

.header-contacts {
  width: 270px;
  margin-left: 93px;
}

.header-phone-border {
  border: 3px solid var(--basic-white);
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.header-phone {
  font-family: inherit;
  font-weight: 700;
  font-style: inherit;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-phone::before {
  content: "";
  width: 19px;
  height: 20px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-right: 16px;
}

.header-address {
  color: var(--basic-darkblue);
  font-size: 14px;
  text-align: center;
}

.authorization-list {
  width: 281px;
  display: flex;
  margin-left: 69px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.authorization-button {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: block;
  text-align: center;
  padding: 12px 0;
}

.sign-in-button {
  width: 121px;
  padding-left: 45px;
  padding-right: 27px;
  position: relative;
}

.svg-login {
  position: absolute;
  top: 13px;
  left: 20px;
}

.registration-button {
  width: 150px;
}

.visitor-info {
  width: 299px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 51px;
}

.visitor-authorized {
  width: 100%;
  position: relative;
  background-color: var(--basic-white);
  padding: 12px 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visitor-name-button {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.svg-user {
  position: absolute;
  top: 13px;
  left: 17px;
}

.logout-button {
  position: absolute;
  top: 14px;
  left: 263px;
  background-color: var(--basic-white);
}

.visitor-buttons-list {
  margin-top: 7px;
  width: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.visitor-page-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-darkblue);
}

.visitor-buttons-item {
  position: relative;
}

.visitor-buttons-item:last-child::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--basic-darkblue);
  top: 9px;
  left: -18px;
  border-radius: 50%;
}

.authorization-button:hover,
.visitor-page-button:hover {
  color: var(--basic-red);
}

.button-svg:hover .svg-icon path {
  fill: var(--hover-basic-grey);
}

.authorization-button:active,
.visitor-page-button:active,
.visitor-name-button:active {
  color: var(--basic-greylight);
}

.button-svg:active .svg-icon path {
  fill: var(--basic-greylight);
}

.header-nav {
  margin-top: 40px;
  width: 940px;
}

.header-nav-list {
  background-color: var(--basic-darkblue);
  box-shadow: inset 0px -4px 0px var(--background-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-nav-link {
  color: var(--basic-white);
  font-size: 18px;
  display: block;
  padding: 16px 25px;
}

.header-nav-link:hover {
  background-color: var(--background-dark);
}

.header-nav-link:active {
  background-color: var(--active-nav);
  color: rgba(255, 255, 255, 0.5);
}

/*------------------------MAIN----------------------------*/

/*-----------------------CATEGORIES-----------------------*/

.section-categories {
  padding-top: 60px;
  margin-bottom: 60px;
}

.section-categories .container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 123px);
  gap: 20px;
}

/*---category-block---*/

.materials-block {
  background-color: var(--background-materials-delivery);
}

.instrument-block {
  background-color: var(--background-instrument);
}

.facilities-block {
  background-color: var(--background-facilities);
}

.discounts-block {
  background-color: var(--background-discounts);
  grid-column: 3/4;
  grid-row: 2/3;
}

.delivery-block {
  background-color: var(--background-materials-delivery);
  grid-column: 3/4;
  grid-row: 3/4;
}

.category-block {
  padding: 20px 31px 22px 22px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
}

.category-description {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.category-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 10px 0;
  width: 135px;
}

.category-link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.category-link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.category-link:active,
.category-link:focus {
  outline: none;
}

.category-icon {
  align-self: flex-end;
  margin: auto 0;
}

/*---category-slide---*/

.category-slider {
  width: 620px;
  grid-column: 1/3;
  grid-row: 2/4;
  position: relative;
}

.category-slider-1 {
  background-image: url("/img/layer-perforator.jpg");
  background-color: #5c421e;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-slider-2 {
  background-image: url("/img/layer-drill.jpg");
  background-color: #5c421e;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-slide {
  width: 100%;
  height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 23px 20px 27px 24px;
  display: none;
}

.category-slide-active {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-slide .button {
  display: block;
  width: 192px;
}

.category-slide-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.category-slide-text {
  font-size: 18px;
  color: var(--basic-white);
}

.category-slider-controls {
  position: absolute;
  bottom: 35px;
  left: 295px;
  z-index: 10;
  width: 30px;
  display: flex;
  justify-content: space-between;
}

.category-slide-button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border-radius: 50%;
  border: 2px solid var(--basic-white);
  cursor: pointer;
}

.category-slide-button-active {
  background-color: var(--basic-red);
}

.category-slide-button-left::before {
  content: "";
  width: 22px;
  height: 40px;
  position: absolute;
  background-image: url("/img/icon-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  bottom: 70px;
  left: -270px;
}

.category-slide-button-right::before {
  content: "";
  width: 22px;
  height: 40px;
  position: absolute;
  background-image: url("/img/icon-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  bottom: 70px;
  right: -270px;
}

/*------------------------BUTTON-RED-LINK----------------------*/

.button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  border: none;
  padding-top: 11px;
  padding-bottom: 9px;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:active {
  background-color: var(--active-red);
}

.button:active,
.button:focus {
  outline: none;
}

/*-------------------POPULAR PRODUCTS AND PRODUCERS-----------------*/

.tape-description {
  background-color: var(--background-beige);
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 28px 30px 20px;
}

.popular-title {
  font-weight: inherit;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
  margin: 0;
  padding: 0;
}

.button-popular-products,
.button-popular-producers {
  width: 192px;
}

/*---------------------------------PRODUCTS-----------------------------------*/

.section-products {
  margin-bottom: 52px;
}

.container-products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: 220px;
  min-height: 318px;
  border: 1px solid var(--border-grey-card);
  background-color: var(--basic-white);
  margin-right: 20px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.container-products .product-card:nth-child(4n) {
  margin-right: 0;
}

.product-image {
  width: 220px;
  height: 165px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card .cart-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--button-green);
  box-shadow: 0 3px 0 var(--button-green-shadow);
  border: none;
  border-radius: 2px;
  box-shadow: 0 3px 0 var(--button-green-shadow);
  padding: 10px 0;
  width: 135px;
  margin-bottom: 10px;
  display: flex;
  align-items: top;
  justify-content: center;
}

.cart-button::before {
  content: "";
  height: 15px;
  width: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  margin-right: 7px;
}

.bookmarker-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
  background-color: transparent;
  border: 3px solid var(--button-green);
  border-radius: 2px;
  padding: 7px 0;
  width: 135px;
}

.cart-button:hover {
  background-color: var(--hover-green);
}

.cart-button:active {
  background-color: var(--active-green);
}

.cart-button:focus,
.cart-button:active,
.bookmarker-button:active,
.bookmarker-button:focus {
  outline: none;
}

.bookmarker-button:hover {
  border: 3px solid var(--basic-darkblue);
}

.bookmarker-button:active {
  border: 3px solid var(--basic-darkblue);
  opacity: 0.3;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 21px;
  height: 119px;
  padding: 0 17px 0 18px;
}

.product-name-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
}

.product-name-uppercase {
  text-transform: uppercase;
}

.price-old {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-grey);
  text-decoration: line-through;
  margin: 7px 0 13px 0;
}

.price-new {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 44px 10px 32px;
  margin-left: 12px;
}

/*-----------------------CATALOG START-----------------------*/

.section-catalog .container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.catalog-title {
  flex-basis: 100%;
}

/*------------BREADCRUMBS---------------*/

.breadcrumbs-list {
  margin-bottom: 20px;
  display: flex;
  flex-basis: 100%;
  order: -1;
  justify-content: start;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item::after {
  content: "";
  width: 8px;
  height: 14px;
  position: absolute;
  background-image: url("../img/icon-arrow-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 4px;
  right: -25px;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.catalog-title {
  font-weight: inherit;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-darkblue);
  background-color: var(--basic-white-blue);
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 29px 0 30px 29px;
}

.breadcrumbs-link {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

/*----------------FILTER---------------*/

.aside-filter {
  width: 220px;
}

.filter-text {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  background-color: var(--background-filter);
  text-transform: uppercase;
  padding: 10px 0;
  padding-left: 18px;
  border-radius: 2px;
  margin-bottom: 14px;
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.price-fieldset,
.producers-fieldset {
  border-bottom: 1px solid rgba(197, 197, 197, 0.5);
  padding-bottom: 25px;
  margin-bottom: 16px;
}

.power-fieldset {
  margin-bottom: 34px;
}

.filter-legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: inherit;
  text-transform: uppercase;
}

.filter-legend-price {
  margin-bottom: 11px;
}

.filter-legend-producers {
  margin-bottom: 15px;
}

.filter-legend-powers {
  margin-bottom: 21px;
}

.filter-range {
  width: 220px;
}

.range-controls {
  height: 41px;
  background-color: var(--background-filter);
  border-radius: 2px;
  margin-bottom: 9px;
  padding: 39px 20px;
  position: relative;
}

.scale {
  height: 2px;
  background-color: var(--background-scale);
}

.bar {
  height: 2px;
  background-color: var(--background-bar);
  width: 85%;
}

.toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  height: 4px;
  width: 4px;
  padding: 2px;
  background-color: var(--background-toogle);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  width: 220px;
  position: relative;
}

.price-input {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: inherit;
  font-style: inherit;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: var(--background-filter);
  border: none;
  padding: 10px;
  border-radius: 2px;
  width: 95px;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: var(--basic-black);
  top: 19px;
  left: 105px;
}

.price-input::-webkit-outer-spin-button {
  display: none;
  margin: 0;
}

.price-input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

.price-input::-webkit-input-placeholder {
  color: var(--basic-black);
}

.price-input::-ms-input-placeholder {
  color: var(--basic-black);
}

.price-input::-moz-placeholder {
  color: var(--basic-black);
}

.price-input::placeholder {
  color: var(--basic-black);
}

.filter-item:not(:last-of-type) {
  margin-bottom: 20px;
}

.filter-item {
  padding-left: 35px;
}

.filter-label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.producer-label::before {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  top: 0;
  left: -35px;
}

.producer-label:hover::before {
  border: 2px solid var(--hover-dark-grey);
}

.producer-checkbox:checked + .producer-label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.producer-checkbox:checked + .producer-label:hover::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.power-label::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border: 4px solid var(--basic-greylight);
  border-radius: 50%;
  top: -3px;
  left: -35px;
}

.power-label:hover::before {
  border: 4px solid var(--hover-dark-grey);
}

.power-radio-button:checked + .power-label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-submit {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--border-grey-button);
  padding: 9px 79px;
}

/*--------------GOOODS-CATALOG------------------*/

.section-products-catalog {
  margin-left: 20px;
  width: 700px;
}

.sorting-row {
  background-color: var(--background-filter);
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
}

.sorting {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 140px;
  margin-left: 19px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 355px;
}

.sorting-link {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dotted var(--basic-red);
  color: rgba(0, 0, 0, 0.3);
}

.sorting-link:hover,
.sorting-link:focus,
.sorting-link:active {
  border-bottom: 1px solid var(--basic-red);
  color: var(--basic-black);
}

.sorting-link-active,
.sorting-link-active:hover,
.sorting-link-active:focus,
.sorting-link-active:active {
  color: var(--basic-red);
  border-bottom: none;
}

.sorting-list-arrows {
  width: 43px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 46px;
}

.sorting-arrow:hover .svg-arrow-down path,
.sorting-arrow:active .svg-arrow-down path,
.sorting-arrow:focus .svg-arrow-down path {
  fill: var(--basic-black);
}

.container-products-catalog {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.container-products-catalog .product-card:nth-child(3n) {
  margin-right: 0;
}

.pagination {
  display: flex;
  margin-bottom: 59px;
  flex-wrap: wrap;
}

.pagination-list {
  display: flex;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-link {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  color: inherit;
  border: 1px solid var(--border-grey-button);
  border-radius: 2px;
  display: block;
  padding: 10px 15px;
}

.pagination-switch .pagination-link {
  text-transform: uppercase;
  padding: 10px 30px;
}

.pagination-link:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination-link:active {
  border: 1px solid var(--basic-red);
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}

/*-------------BENEFITS---------------*/

.section-benefits {
  background-color: var(--basic-white-blue);
  padding: 64px 0 68px 0;
}

.benefits-title {
  margin: 0;
  margin-bottom: 20px;
}

.benefits-text {
  font-family: "PT Sans", Arial, sans-serif;
}

/*-----------------------CATALOG FINISH--------------------------*/

/*-----------------------POPULAR PRODUCERS-----------------------*/

.section-producers {
  margin-bottom: 50px;
}

.producers-list {
  display: flex;
  flex-wrap: wrap;
}

.producer-item {
  width: 220px;
  min-height: 145px;
  border: 1px solid var(--border-grey-card);
  margin-right: 20px;
  margin-bottom: 20px;
}

.producer-item:nth-child(4n) {
  margin-right: 0;
}

.producer-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.producer-item:hover {
  box-shadow: 0 0 10px 3px var(--border-grey-card);
}

.producer-item:active {
  opacity: 0.5;
}

/*----------------------TITLES------------------------------*/

.service-title,
.company-technomart-title,
.contacts-title,
.benefits-title {
  font-weight: inherit;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/*-----------------------SERVICES-----------------------*/

.section-services {
  background-color: var(--basic-white-blue);
  padding-top: 64px;
  padding-bottom: 96px;
}

.service-title {
  margin: 0;
  margin-bottom: 25px;
}

.service-desc-text {
  margin-bottom: 65px;
}

.service-slider {
  display: flex;
  justify-content: flex-start;
}

.service-slider-controls {
  display: flex;
  flex-direction: column;
  height: 185px;
  justify-content: space-between;
  margin-right: 80px;
  width: 240px;
}

.service-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-darkblue);
  border: none;
  box-shadow: 0px 1px 0px var(--background-dark), inset 0px 1px 0px var(--button-dark-blue-shadow);
  height: 61px;
  width: 240px;
  text-align: start;
  padding-left: 22px;
}

.service-button-current {
  background-color: var(--basic-white);
  color: var(--basic-darkblue);
}

.service-slides {
  width: 620px;
}

.service-slide {
  position: relative;
  display: none;
}

.service-slide-active {
  display: block;
}

.service-subtitle {
  font-weight: inherit;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-darkblue);
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.service-text {
  font-family: "PT Sans", Arial, sans-serif;
}

.service-credit-text {
  margin-bottom: 26.5px;
}

.service-delivery-subtitle {
  margin-bottom: 30px;
}

.service-guarantee-subtitle {
  margin-bottom: 24.5px;
}

.service-credit-subtitle {
  margin-bottom: 35px;
}

.service-delivery-text::after {
  content: "";
  width: 468px;
  height: 261px;
  position: absolute;
  background-image: url(/img/truck.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 20px;
  right: 0;
}

.service-guarantee-text::after {
  content: "";
  width: 389px;
  height: 283px;
  position: absolute;
  background-image: url(/img/emblem.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -2px;
  right: 0;
}

.service-credit-text::after {
  content: "";
  width: 465px;
  height: 285px;
  position: absolute;
  background-image: url(/img/credit.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -4px;
  right: 0;
}

.service-slide .button {
  width: 195px;
}

.service-label:hover {
  background-color: var(--background-dark);
}

.service-radio-button:checked + .service-label {
  background-color: white;
  color: var(--basic-darkblue);
}

/*-----------------------CONTACTS-----------------------*/

.section-contacts {
  padding-top: 70px;
  margin-bottom: 70px;
}

.section-contacts .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column-company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 460px;
}

.column-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 302px;
}

.company-technomart-title,
.contacts-title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.company-text,
.contacts-text {
  font-family: "PT Sans", Arial, sans-serif;
}

.company-list {
  margin-bottom: 20px;
}

.company-item {
  font-size: 18px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.company-item:nth-of-type(3) {
  margin-bottom: 0;
}

.company-item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-image: url("../img/list-style-red.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-right: 12px;
}

.contacts-text {
  margin-bottom: 32px;
}

.column-company .button {
  width: 220px;
}

.column-contacts .button {
  margin-top: 25px;
}

/*-----------------------FOOTER-----------------------*/

.footer {
  background-color: var(--basic-darkblue);
}

.footer-wide-background {
  font-size: 18px;
  margin-bottom: 54px;
}

.footer-wide-background .container {
  display: flex;
  justify-content: space-between;
}

.footer-logo-contacts {
  width: 321px;
}

.footer-contacts {
  color: var(--footer-address);
  margin-top: 21px;
}

.footer-navigation {
  width: 546px;
  margin-top: 37px;
}

.footer-nav-list:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
  flex-wrap: wrap;
}

.footer-nav-list:last-child {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.footer-nav-link-top {
  color: var(--basic-white-blue);
}

.footer-nav-link-bottom {
  color: var(--footer-yellow);
}
.footer-nav-item {
  margin-left: 58px;
}

.footer-nav-item:first-child {
  margin-left: 0;
}

.footer-nav-link-top:hover,
.footer-nav-link-bottom:hover {
  text-decoration: underline;
}

.footer-nav-link-top:active,
.footer-nav-link-bottom:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-narrow-background {
  background-color: var(--background-dark);
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-narrow-background .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 10px;
  flex-wrap: wrap;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 134px;
}

.footer-site-list {
  display: flex;
  width: 286px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--background-social-link);
  color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footer-site-link {
  color: var(--footer-yellow);
}

.footer-social-link:hover,
.footer-social-link:active {
  background-color: var(--basic-red);
}

.footer-site-link:hover {
  text-decoration: underline;
}

.footer-site-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

/*-----------------------MODAL-----------------------*/

.modal-label {
  font-size: 18px;
}

.modal-input {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: 2px solid var(--basic-greylight);
}

.modal-textarea-message {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: 2px solid var(--basic-greylight);
  resize: none;
}

.modal-input::-webkit-input-placeholder {
  color: var(--basic-grey);
}

.modal-input::-moz-placeholder {
  color: var(--basic-grey);
}

.modal-input::-ms-input-placeholde {
  color: var(--basic-grey);
}

.modal-input::placeholder {
  color: var(--basic-grey);
}

.modal-textarea-message::-webkit-input-placeholder {
  color: var(--basic-grey);
}

.modal-textarea-message::-moz-placeholder {
  color: var(--basic-grey);
}

.modal-textarea-message::-ms-input-placeholder {
  color: var(--basic-grey);
}

.modal-textarea-message::placeholder {
  color: var(--basic-grey);
}

.order-form,
.modal-narrow-background {
  background-color: var(--background-modal-beige);
}

.text-product-added {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.text-product-added::before {
  content: "";
  height: 66px;
  width: 66px;
  display: inline-block;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 20px;
  margin-bottom: 5px;
}

.modal-continue-button {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-white);
}
